body{
    font-family: 'Roboto Slab', serif;
    background-color: 	#14595c;
    color: whitesmoke;
}

.estilo-titulo{
    display: block;
    font-family: 'Open Sans', sans-serif;
}

.article{
    width: 800px;
}

nav li{
    display: inline;
    margin: 10px;
}

header a{
    margin-left: 20px;
}

.picture{
    border-radius: 50%;
}

.texto-centralizado{
    text-align: center;
}