body{
    font-family: 'Roboto Slab', serif;
    background-color: 	rgb(20, 89, 92);
    color: whitesmoke;
}

header{
    position: fixed;
    width: 100%;
    top: 0px;
    background-color: rgb(20, 89, 92);
}

.estilo-titulo{
    display: block;
    font-family: 'Open Sans', sans-serif;
}

.bloco{
    display: inline;
}

.article{
    width: 800px;
}

nav li{
    display: inline-block;
}

header a{
    margin-left: 20px;
}

.picture{
    float: left;
    border-radius: 20%;
}

.texto-centralizado{
    text-align: center;
}